CompileFlags:
  Add: [
      "-std=c++20",
      "-m64",
      "-D_MSVC_LANG=202002L",
      "-fms-compatibility",
      "-fms-extensions",
      "-Wno-microsoft-enum-value",

      "-I",
      "C:/Users/k024g/source/repos/AquaEngine/Project",
      "-I",
      "C:/Users/k024g/source/repos/AquaEngine/Project/Externals/nlohmann",

      # プロジェクト内の追加インクルードディレクトリ
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/",
      "-I",
      "C:/Users/k024g/source/repos/AquaEngine/Project/Externals/assimp/include",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/2D",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Core",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Audio",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Collision",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Common",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Input",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Math",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/PSO",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Camera",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Light",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Scene",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Model",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/DirectX",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Editor",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/DirectX/Memory",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Transform",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Renderer",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Material",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/Animation",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/Core",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/Buffers",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/Resources",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/Texture",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/RenderPass",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Core/System",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/PSO/Raytracing",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/PSO/Rasterize",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/Graphics/PSO/Core",
      "-iquote",
      "C:/Users/k024g/source/repos/AquaEngine/Project/EngineSource/3D/ParticleSystem",

      # MSVCのインクルードパス
      "-I",
      "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.44.35207/include",
      "-I",
      "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.44.35207/atlmfc/include",
      "-I",
      "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Auxiliary/VS/include",

      # WindowsSDKのインクルードパス
      "-I",
      "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt",
      "-I",
      "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um",
      "-I",
      "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared",
      "-I",
      "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt",
      "-I",
      "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/cppwinrt",
      "-I",
      "C:/Program Files (x86)/Windows Kits/NETFXSDK/4.8.1/Include/um",
    ]
